/* // Branding */

@use '../styles/h-fonts.scss' as F;
@use '../styles/h-colors.scss' as C;
@use '../styles/mixin.scss' as M;

.branding-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 7rem 1.5rem 0 1.5rem;
    text-align: center;
    
    section{
        h1,p{
            padding: 0;
            margin: 0;
        }
    }

    &__cards{
        padding-top: 3rem;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        width: 100%;
        justify-items: center;
        gap: 50px;

        .branding-cards{
            background-color: C.$witheColor;
            border-radius: 30px;
            box-shadow: 1px 1px 15px 1px rgb(233, 237, 237);
            display: flex;
            flex-direction: column;
            justify-content: space-between; 
            align-items: center;
            width: 80%;

            &__images{
                margin: 0;
                padding: 0;
                overflow: hidden; 

                 img{
                    width: 100%; 
                    height: auto;
                    padding: 0.5rem 0.5rem 0 0.5rem;
                    margin-bottom: 0;
                }
            }

            &__btn{
                font-size: 1rem;
                font-family: F.$titleFont;
                border: none;
                border-radius: 10px;
                padding: 0.4rem 0.5rem;
                color: C.$witheColor;
                background-color: C.$lightGrayColor;
                margin-bottom: 1.2rem;
                
                &:hover{
                    cursor: pointer;
                    background-color: C.$CyanColor;
                }
                
            }

            
        }
    }

    //Footer BP mobile
    @include M.medias(mobile) {
        padding: 16vh 6vh 0 6vh;

        section{
            p{
                padding: 0 1rem;
            }
        }

        &__cards{
            padding-top: 25hv;
            grid-template-columns: 1fr; 
            gap: 35px;

            .branding-cards {
                width: 80%; 
                
                &__btn{
                    font-size: 1.1rem;
                }
             }
            }

        }


     //Footer BP tablet
     @include M.medias(tablet) {
        padding: 10rem 3rem 0 3rem;

        section{
            padding-bottom: 3rem;
        }

        &__cards{
            grid-template-columns: 1fr 1fr; 
            gap: 45px;

            .branding-cards {
                width: 100%; 
                height: auto;
                
            }
        }
     }
}