/* Index page */

@use '../styles/h-fonts.scss' as F;
@use '../styles/h-colors.scss' as C;
@use '../styles/mixin.scss' as M;

.home-container {
    padding: 6rem 0.5rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    .home-img {
        padding: 4rem;
        margin: 0;
        width: 60%;
    }

    .home-btn {
        margin: 0;
        font-size: 1rem;
        font-family: F.$titleFont;
        border-radius: 10px;
        border: none;
        padding: 0.5rem 0.7rem;
        color: C.$whiteColor;
        background-color: C.$cyanColor;
        
        &:hover {
            cursor: pointer;
            background-color: C.$grayBlueColor;
        }
    }

    // Footer BP mobile
    @include M.medias(mobile) {
        padding: 8rem 0 16rem 0;

        .home-img img {
            width: 100%;
            padding: 8rem 0 0 0;
        }

        .home-btn {
            font-size: 0.8rem;
            padding: 0.4rem 0.5rem;
        }
    }

    // Footer BP tablet
    @include M.medias(tablet) {
        padding: 6rem 2rem 10rem 2rem;

        .home-img img {
            padding: 4rem 0 0 0;
            width: 100%;
        }
    }
    
    //BP Desktop
    @media (min-width: 1024px) and (max-width: 1457px) {
        padding: 4rem 8rem 8rem 8rem;

        .home-img img {
            padding: 4rem 0 0 0;
            width: 100%;
        }
    }
}
