.main-container__skills{
    .skill-cards{

        .skill-cards__frontEnd{
            display: grid;
            grid-template-columns:repeat(2, 1fr);
            justify-items: center;
            align-content: center;
            background-color: beige
    
            ul{
            padding: 0 0.5rem 0 0;          
            margin-top: 0;
            display: flex;
           
            }           
        }
    }
}