/* // Social Media page */

@use '../styles/h-fonts.scss' as F;
@use '../styles/h-colors.scss' as C;
@use '../styles/mixin.scss' as M;

.main-social-media{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 7rem 5.5rem 0 5.5rem;
    text-align: center;

    section{
        h1, p {
            padding: 0;
            margin: 0;
        }
        padding-bottom: 4rem;
    }
    .social-media__cards {
        article {
            padding-bottom: 5rem;
            h2 {
                padding: 0;
                color: C.$grayBlueColor;
            }
            div{
                picture{
                    img{
                        padding: 0.5rem 0;
                    }
                }
                    p{
                        font-size: 1.2rem;
                        font-style: italic;
                        padding-bottom: 5rem;
                    }
                }
        }
    }


    // BP mobile
    @include M.medias(mobile) {
        padding: 8rem 0.5rem 0 0.5rem;

        section {
            padding-bottom: 4rem;
        }

        &__cards {
            article {
                padding: 1.5rem;

                h2 {
                    font-size: 2.1rem;
                }

                p {
                    font-size: 1.2rem;
                }

                img {
                    padding: 1rem 0 4rem 0;
                }
            }
        }
    }

    // BP tablet
    @include M.medias(tablet) {
        padding: 8rem 0.5rem 0 0.5rem;

        &__cards {
            article {
                h2 {
                    font-size: 2.3rem;
                }

                p {
                    font-size: 1rem;
                }
            }
        }
    }
}
