// Colors

$primaryColor: rgb(91, 115, 135);
$secondaryColor: rgb(115, 119, 191);
$lightGrayColor: rgb(181, 180, 180);
$lightColor: rgb(235, 239, 241); 
$grayBlueColor: rgb(145, 176, 217); 
$whiteColor: rgb(249, 250, 251); 

$cyanColor: rgb(145, 197, 236);
$lightCyanColor: rgb(206, 244, 255);
