// Colors

$primaryColor: rgb(91, 115, 135);
$secondaryColor: rgb(115, 119, 191);
$lightGrayColor: rgb(181, 180, 180);
$ligthColor: rgb(235, 239, 241);
$GrayBlueColor: rgb(145, 176, 217);
$witheColor:rgb(249, 250, 251);

$CyanColor: rgb(145, 197, 236);
$lightCyanColor: rgb(206, 244, 255);