 //Tipografías

$mainFont: "Manrope", sans-serif;
$titleFont: "Poppins", sans-serif;

//Font Size
$fontSize: 17px;

//Font Size Variables
$textXl:2rem;
$textLg:1.8rem;
$textMd:1.5rem;
$textSm:1rem;

//Weights Fonts
$textLight:300;
$textRegular:400;
$textSemiBold:600;
$textBold:700;
$textBlack:800;


//Line Height
$lineHeight:1.5;
