/* // html */
html body {
  margin: 0;
  min-height: 100vh;
  font-family: "Manrope", sans-serif;
  font-size: 17px;
  font-weight: 400;
  line-height: 1.5;
  color: rgb(91, 115, 135);
  background: radial-gradient(circle, #EAEFF2, #F9FAFB);
}
html body h1 {
  font-size: 3rem;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  color: rgb(115, 119, 191);
  text-align: center;
}
html body h2, html body h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  color: rgb(115, 119, 191);
}
html body h2 {
  font-size: 2.5rem;
}
html body h3 {
  font-size: 1.3rem;
  line-height: 1.2;
}
html body p {
  padding: 0.8rem 0;
}
html body ul {
  list-style: none;
}
html body .loading-mssg {
  font-size: 1.5rem;
  font-weight: 700;
  color: rgb(145, 176, 217);
}
html body img {
  max-width: 100%;
}
@media (max-width: 767px) {
  html body h1 {
    font-size: 2.3rem;
  }
  html body h2 {
    font-size: 2rem;
  }
  html body h3 {
    font-size: 1.5rem;
    line-height: 1;
  }
  html body p {
    font-size: 20px;
    padding: 0.8rem 0;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  html body h1 {
    font-size: 2.9rem;
  }
  html body h2 {
    font-size: 2.7rem;
  }
  html body h3 {
    font-size: 1.8rem;
  }
  html body p {
    font-size: 20px;
    padding: 0.8rem 0;
  }
}

/* // Navbar */
header {
  margin: 0%;
  width: 100vw;
}
header .navBar {
  background-color: rgb(145, 176, 217);
  box-shadow: 2px 2px 20px 0.8px rgb(208, 213, 219);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
header .navBar .logo {
  width: 200px;
  padding: 5%;
  margin-right: auto;
}
header .navBar .language-btn {
  margin-left: auto;
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
  border: 2px solid rgb(249, 250, 251);
  border-radius: 10px;
  padding: 0.4rem 0.5rem;
  color: rgb(249, 250, 251);
  background-color: rgb(145, 176, 217);
}
header .navBar .language-btn:hover {
  cursor: pointer;
  background-color: rgb(115, 119, 191);
}
header .navBar .navBar-menu {
  display: none;
}
header .navBar ul {
  padding: 0;
  width: 35%;
  display: flex;
  justify-content: space-evenly;
  list-style: none;
}
header .navBar ul a {
  color: rgb(235, 239, 241);
  font-family: "Poppins", sans-serif;
  letter-spacing: 1.2px;
  font-size: 1rem;
  text-decoration: none;
}
header .navBar ul a:hover {
  color: rgb(115, 119, 191);
  cursor: pointer;
}
header .navBar ul .active {
  font-weight: 700;
}
@media (max-width: 333px) {
  header .navBar .logo {
    width: 120px;
  }
}
@media (max-width: 767px) {
  header .navBar {
    justify-content: space-around;
    flex-wrap: wrap;
  }
  header .navBar .logo {
    width: 180px;
    padding: 0;
  }
  header .navBar .navBar-menu {
    color: rgb(91, 115, 135);
    width: 5%;
    display: block;
    padding: 1.5rem 2rem 1.5rem 0;
    margin-left: 2rem;
  }
  header .navBar .navBar-menu .menu-bars-btn {
    font-size: 1.5rem;
  }
  header .navBar ul {
    display: none;
    width: 100%;
    flex-direction: column;
    background-color: rgb(235, 239, 241);
    margin-bottom: 0;
    padding: 1.5rem 0;
  }
  header .navBar ul li {
    margin: 10px;
    padding-left: 2rem;
  }
  header .navBar ul li a {
    color: rgb(91, 115, 135);
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  header .navBar ul {
    width: 50%;
  }
}

/* // footer */
footer {
  width: 100%;
  background-color: rgb(145, 176, 217);
  margin: 8rem 0 0 0;
  color: rgb(235, 239, 241);
  padding: 0.2rem 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  box-sizing: border-box;
}
footer .logo {
  width: 45%;
}
footer .linksFooter, footer .socialMedia {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
footer .socialMedia article {
  padding: 0;
}
footer .socialMedia article a {
  padding-right: 1rem;
  text-decoration: none;
  color: rgb(235, 239, 241);
  font-size: 1.8rem;
}
footer .socialMedia article a:hover {
  color: rgb(115, 119, 191);
  cursor: pointer;
}
footer .linksFooter {
  max-width: 100%;
}
footer .linksFooter li {
  padding-right: 1rem;
}
footer .linksFooter a {
  color: rgb(235, 239, 241);
  font-family: "Poppins", sans-serif;
  letter-spacing: 1px;
  font-size: 0.9rem;
  text-decoration: none;
}
footer .linksFooter a:hover {
  color: rgb(115, 119, 191);
  cursor: pointer;
}
@media (max-width: 1270px) {
  footer .linksFooter {
    width: 35%;
  }
}
@media (max-width: 370px) {
  footer {
    margin-top: 4rem;
  }
  footer .socialMedia article {
    flex-direction: column;
    justify-content: end;
    align-items: end;
  }
  footer .socialMedia article a {
    font-size: 0.5rem;
    padding: 0.4rem;
  }
}
@media (max-width: 767px) {
  footer {
    margin-top: 2rem;
    padding: 0.5rem 0.8rem;
    align-items: center;
  }
  footer .logo {
    display: none;
  }
  footer .socialMedia {
    margin-left: auto;
    padding: 0;
  }
  footer .socialMedia article a {
    font-size: 1.3rem;
  }
  footer .linksFooter {
    margin-right: auto;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    margin: 0;
    padding: 0;
  }
  footer .linksFooter li {
    padding-bottom: 0.4rem;
  }
  footer .linksFooter li a {
    font-size: 1rem;
  }
  footer .element:nth-child(1) {
    order: 3;
  }
  footer .element:nth-child(2) {
    order: 2;
  }
  footer .element:nth-child(3) {
    order: 1;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  footer .socialMedia {
    justify-content: space-around;
    margin: 0;
    padding: 0;
  }
  footer .socialMedia article a {
    font-size: 1.2rem;
    padding-right: 0.45rem;
  }
  footer .linksFooter {
    max-width: 40%;
  }
  footer .linksFooter a {
    font-size: 0.8rem;
    padding-right: 0;
  }
  footer .linksFooter a:hover {
    color: white;
    cursor: pointer;
  }
}
@media (min-width: 768px) and (max-width: 1023px) and (max-width: 935px) {
  footer .linksFooter {
    width: 45%;
  }
}

/* // Index page*/
.home-container {
  padding: 0.2rem 6rem 0.5rem 6rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.home-container .home-img {
  padding: 0;
  margin: 0;
  width: 80%;
}
.home-container .home-btn {
  margin: 0;
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
  border: none;
  border-radius: 10px;
  padding: 0.4rem 0.5rem;
  color: rgb(249, 250, 251);
  background-color: rgb(145, 197, 236);
}
.home-container .home-btn:hover {
  cursor: pointer;
  background-color: rgb(181, 180, 180);
}
@media (max-width: 767px) {
  .home-container {
    padding: 8rem 0 16rem 0;
  }
  .home-container .home-img img {
    width: 100%;
    padding: 8rem 0 0 0;
  }
  .home-container .home-btn {
    margin: 0;
    font-size: 0.8rem;
    font-family: "Poppins", sans-serif;
    border: none;
    border-radius: 10px;
    padding: 0.4rem 0.5rem;
    color: rgb(249, 250, 251);
    background-color: rgb(145, 197, 236);
  }
  .home-container .home-btn:hover {
    cursor: pointer;
    background-color: rgb(181, 180, 180);
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .home-container {
    padding: 6rem 2rem 10rem 2rem;
  }
  .home-container .home-img img {
    padding: 4rem 0 0 0;
    width: 100%;
  }
}
@media (min-width: 1024px) and (max-width: 1457px) {
  .home-container {
    padding: 4rem 8rem 8rem 8rem;
  }
  .home-container .home-img img {
    padding: 4rem 0 0 0;
    width: 100%;
  }
}

/* // Index page*/
.main-container {
  padding: 7rem 6rem 0.5rem 6rem;
  text-align: center;
}
.main-container__intro p {
  padding: 0.9rem 2.5rem 0 2.5rem;
  margin: 0;
}
.main-container__intro .intro-profile {
  margin: 0;
  padding-bottom: 0.5rem;
  display: flex;
  align-items: center;
}
.main-container__intro .intro-profile picture {
  width: 40%;
  text-align: right;
  padding-right: 2rem;
}
.main-container__intro .intro-profile picture img {
  width: 35%;
  padding: 3px;
  border: 6px solid #91b0d9;
  border-radius: 50%;
}
.main-container__intro .intro-profile div {
  padding-top: 0;
  width: 60%;
}
.main-container__intro .intro-profile div h1 {
  text-align: left;
  padding: 0;
  margin: 0;
}
.main-container__intro .intro-profile div p {
  text-align: left;
  padding: 0.3rem;
  font-style: italic;
  font-weight: 300;
  font-size: 1.1rem;
}
.main-container__skills {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  padding-top: 3rem;
  justify-items: center;
  align-content: center;
}
.main-container__skills .skills-cards {
  background-color: rgb(249, 250, 251);
  border-radius: 30px;
  box-shadow: 1px 1px 15px 1px rgb(233, 237, 237);
  padding: 0.4rem 1rem 1.1rem 1rem;
  width: 80%;
  height: 100%;
}
.main-container__skills .skills-cards ul {
  padding-left: 0;
  padding-top: 0;
  margin-top: 0;
}
.main-container__skills .skills-cards__image .dots {
  width: 40%;
}
.main-container__skills .skills-cards__logos {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  margin: 1.3rem 1rem 0 1rem;
  gap: 0.5rem;
}
.main-container__skills .skills-cards__logos .skills-icons {
  font-size: 3rem;
  color: rgb(145, 197, 236);
  margin: 0;
  padding: 0;
}
.main-container__skills .skills-cards h3 {
  margin-bottom: 0.6rem;
}
.main-container__skills :nth-child(5) ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.main-container__formation {
  padding-top: 5rem;
}
.main-container__formation article h2 {
  padding: 0 0 0.8rem 0;
  margin: 0;
}
.main-container__formation article p {
  padding: 0.9rem 2.5rem 0 2.5rem;
  margin: 0;
}
.main-container__formation .container-formation-cards {
  margin-top: 3rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  justify-items: center;
  align-content: center;
}
.main-container__formation .container-formation-cards .formation-cards {
  background-color: rgb(249, 250, 251);
  border-radius: 30px;
  box-shadow: 1px 1px 15px 1px rgb(233, 237, 237);
  padding: 0 1.5rem 1.5rem 2rem;
  margin: 0 0.8rem;
  width: 80%;
  height: 98%;
}
.main-container__formation .container-formation-cards .formation-cards h3 {
  padding-bottom: 0;
  margin-bottom: 0;
}
.main-container__formation .container-formation-cards .formation-cards div p {
  margin: 0;
  font-weight: 600;
  text-align: left;
}
.main-container__formation .container-formation-cards .formation-cards div :first-child {
  font-weight: 800;
  padding-top: 1rem;
}
.main-container__formation .container-formation-cards .formation-cards div :last-child {
  font-weight: 300;
  font-style: italic;
  padding-top: 0.1rem;
}
.main-container__formation .container-formation-cards .formation-cards div ul {
  padding: 0 0.6rem;
  margin-top: 0;
  text-align: left;
}
.main-container__formation .container-formation-cards .formation-cards div ul li {
  font-weight: 400;
  font-style: italic;
}
.main-container__formation .container-formation-cards .formation-cards div ul :first-child {
  font-weight: 400;
}
.main-container__contact {
  padding-top: 6rem;
}
.main-container__contact article h2, .main-container__contact article p {
  padding: 0 0 0.8rem 0;
  margin: 0;
}
.main-container__contact article :nth-child(2) {
  font-weight: 600;
}
.main-container__contact .contact-info-container {
  padding-top: 1rem;
}
.main-container__contact .contact-info-container p {
  font-weight: 600;
}
.main-container__contact .contact-info-container .contact-info {
  padding-top: 0.8rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.main-container__contact .contact-info-container .contact-info a {
  display: flex;
  text-decoration: none;
  color: rgb(91, 115, 135);
  font-weight: 600;
  font-size: 1.1rem;
}
.main-container__contact .contact-info-container .contact-info a .media-icon {
  font-size: 1.6rem;
  margin-right: 0.6rem;
  color: rgb(145, 197, 236);
}
.main-container__contact .contact-info-container .contact-info a:hover {
  color: rgb(145, 197, 236);
  cursor: pointer;
}
@media (max-width: 1100px) {
  .main-container__contact .contact-info-container .contact-info {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .main-container__contact .contact-info-container .contact-info a {
    font-size: 20px;
    padding-bottom: 1.8rem;
  }
  .main-container__contact .contact-info-container .contact-info a .media-icon {
    font-size: 1.5rem;
  }
}
@media (max-width: 767px) {
  .main-container {
    padding: 9rem 0.8rem 0.5rem 0.8rem;
  }
  .main-container__intro .intro-profile {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .main-container__intro .intro-profile p {
    padding: 0 0.5rem;
  }
  .main-container__intro .intro-profile picture {
    width: 100%;
    text-align: center;
    padding-right: 0;
  }
  .main-container__intro .intro-profile picture img {
    width: 30%;
    padding-bottom: 3px;
    border: 6px solid #91b0d9;
    border-radius: 50%;
  }
  .main-container__intro .intro-profile div {
    padding-top: 0;
    width: 100%;
  }
  .main-container__intro .intro-profile div h1, .main-container__intro .intro-profile div p {
    text-align: center;
  }
  .main-container__skills {
    grid-template-columns: 1fr;
    justify-items: center;
    align-content: center;
  }
  .main-container__skills .skills-cards {
    padding: 0.1rem 0.5rem;
    margin-bottom: 15px;
    width: 13rem;
    height: 12rem;
  }
  .main-container__skills .skills-cards h3 {
    line-height: 1.8rem;
  }
  .main-container__skills .skills-cards ul, .main-container__skills .skills-cards li {
    font-size: 20px;
  }
  .main-container__skills .skills-cards__logos .skills-icons {
    font-size: 2.4rem;
  }
  .main-container__formation .container-formation-cards {
    grid-template-columns: 1fr;
    padding: 0 1rem;
    gap: 70px;
  }
  .main-container__formation .container-formation-cards .formation-cards {
    margin-bottom: 40px;
    padding-bottom: 1rem;
    width: 95%;
    height: 100%;
  }
  .main-container__formation .container-formation-cards .formation-cards h3 {
    line-height: 2rem;
  }
  .main-container__formation .container-formation-cards .formation-cards ul, .main-container__formation .container-formation-cards .formation-cards li {
    font-size: 20px;
  }
  .main-container__contact .contact-info-container .element:nth-child(1) {
    order: 1;
  }
  .main-container__contact .contact-info-container .element:nth-child(2) {
    order: 3;
  }
  .main-container__contact .contact-info-container .element:nth-child(3) {
    order: 2;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .main-container {
    padding: 7rem 2rem 0.5rem 2rem;
  }
  .main-container__intro .intro-profile {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .main-container__intro .intro-profile picture {
    width: 50%;
    text-align: center;
    padding-right: 0;
  }
  .main-container__intro .intro-profile picture img {
    width: 45%;
    padding: 3px;
    border: 6px solid #91b0d9;
    border-radius: 50%;
  }
  .main-container__intro .intro-profile div {
    padding-top: 0;
    width: 100%;
  }
  .main-container__intro .intro-profile div h1 {
    text-align: center;
    padding: 0;
    margin: 0;
  }
  .main-container__intro .intro-profile div p {
    text-align: center;
    padding: 0.3rem;
    font-style: italic;
    font-weight: 300;
    font-size: 1.1rem;
  }
  .main-container__skills {
    grid-template-columns: 1fr 1fr;
    gap: 35px;
  }
  .main-container__skills .skills-cards {
    margin-bottom: 15px;
    padding: 0.1rem 0.5rem;
    width: 90%;
    height: 100%;
  }
  .main-container__skills .skills-cards ul, .main-container__skills .skills-cards li {
    font-size: 18px;
  }
  .main-container__skills .skills-cards__logos {
    padding: 0 3rem;
  }
  .main-container__skills .skills-cards__logos .skills-icons {
    font-size: 3.3rem;
    padding: 0;
  }
  .main-container__formation .container-formation-cards {
    grid-template-columns: 1fr;
    padding: 0 3rem 0 3rem;
    gap: 60px;
  }
  .main-container__formation .container-formation-cards .formation-cards {
    padding-bottom: 1rem;
    width: 80%;
    height: 100%;
  }
  .main-container__formation .container-formation-cards .formation-cards ul, .main-container__formation .container-formation-cards .formation-cards li {
    font-size: 20px;
  }
  .main-container__contact .contact-info-container .element:nth-child(1) {
    order: 1;
  }
  .main-container__contact .contact-info-container .element:nth-child(2) {
    order: 3;
  }
  .main-container__contact .contact-info-container .element:nth-child(3) {
    order: 2;
  }
}
@media (min-width: 1024px) and (max-width: 1320px) {
  .main-container {
    padding: 7rem 8rem 0.5rem 8rem;
  }
}

.main-container__skills .skill-cards .skill-cards__frontEnd {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  align-content: center;
  background-color: beige ul;
  background-color-padding: 0 0.5rem 0 0;
  background-color-margin-top: 0;
  background-color-display: flex;
}

/* // Branding */
.branding-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 7rem 1.5rem 0 1.5rem;
  text-align: center;
}
.branding-container section h1, .branding-container section p {
  padding: 0;
  margin: 0;
}
.branding-container__cards {
  padding-top: 3rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  justify-items: center;
  gap: 50px;
}
.branding-container__cards .branding-cards {
  background-color: rgb(249, 250, 251);
  border-radius: 30px;
  box-shadow: 1px 1px 15px 1px rgb(233, 237, 237);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 80%;
}
.branding-container__cards .branding-cards__images {
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.branding-container__cards .branding-cards__images img {
  width: 100%;
  height: auto;
  padding: 0.5rem 0.5rem 0 0.5rem;
  margin-bottom: 0;
}
.branding-container__cards .branding-cards__btn {
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
  border: none;
  border-radius: 10px;
  padding: 0.4rem 0.5rem;
  color: rgb(249, 250, 251);
  background-color: rgb(181, 180, 180);
  margin-bottom: 1.2rem;
}
.branding-container__cards .branding-cards__btn:hover {
  cursor: pointer;
  background-color: rgb(145, 197, 236);
}
@media (max-width: 767px) {
  .branding-container {
    padding: 16vh 6vh 0 6vh;
  }
  .branding-container section p {
    padding: 0 1rem;
  }
  .branding-container__cards {
    padding-top: 25hv;
    grid-template-columns: 1fr;
    gap: 35px;
  }
  .branding-container__cards .branding-cards {
    width: 80%;
  }
  .branding-container__cards .branding-cards__btn {
    font-size: 1.1rem;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .branding-container {
    padding: 10rem 3rem 0 3rem;
  }
  .branding-container section {
    padding-bottom: 3rem;
  }
  .branding-container__cards {
    grid-template-columns: 1fr 1fr;
    gap: 45px;
  }
  .branding-container__cards .branding-cards {
    width: 100%;
    height: auto;
  }
}

/* // Modal Designs */
.designs-modal {
  display: flex;
  flex-direction: column;
  margin-bottom: 0;
  padding-bottom: 0;
}
.designs-modal .designs_close-btn {
  margin-left: auto;
  border: none;
  color: rgb(91, 115, 135);
  background-color: white;
}
.designs-modal .designs_close-btn:hover {
  cursor: pointer;
  color: rgb(145, 197, 236);
}
.designs-modal .designs_container {
  border-radius: 15px;
  margin: 0 8%;
}
.designs-modal .designs_container h2 {
  width: 100%;
  margin: 0;
  padding: 1rem 0;
  text-align: center;
  background-color: rgb(91, 115, 135);
  color: rgb(235, 239, 241);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.designs-modal .designs_container .designs_images {
  width: 100%;
  padding: 0;
  margin: 0;
}
.designs-modal .designs_container .designs_images img {
  width: 100%;
  margin: 0;
  padding: 0;
}

/* // Social Media page */
.main-social-media {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 7rem 5.5rem 0 5.5rem;
  text-align: center;
}
.main-social-media section {
  padding-bottom: 4rem;
}
.main-social-media section h1, .main-social-media section p {
  padding: 0;
  margin: 0;
}
.main-social-media__cards article {
  padding: 2rem 0 4.5rem 0;
}
.main-social-media__cards article h2 {
  color: rgb(145, 176, 217);
}
.main-social-media__cards article p {
  padding-bottom: 3rem;
  font-size: 1.5rem;
}
@media (max-width: 767px) {
  .main-social-media {
    padding: 8rem 0.5rem 0 0.5rem;
  }
  .main-social-media section {
    padding-bottom: 4rem;
  }
  .main-social-media__cards article {
    padding: 1.5rem;
  }
  .main-social-media__cards article h2 {
    font-size: 2.1rem;
  }
  .main-social-media__cards article p {
    font-size: 1.2rem;
  }
  .main-social-media__cards article img {
    padding: 1rem 0 4rem 0;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .main-social-media {
    padding: 8rem 0.5rem 0 0.5rem;
  }
  .main-social-media__cards h2 {
    font-size: 2.3;
  }
  .main-social-media__cards p {
    font-size: 1rem;
  }
}
